body {
    font-family: 'Comic Sans MS', 'Arial';
    font-size: 14px;
    background-color: darkgray;
    color: white;
}

header{
    background-color: yellow;
    color: red;
    height: 40px;
    padding-top: 20px;
}

nav{
    background-color: lightblue;
    color: black;
    height: 40px;
    padding-top: 20px;
}

.mycssclass{
    color:purple;
    font-style: italic;
}

table{
    border: 2px solid black;
}

.mysecondcssclass {
    padding-top: 5px;
    padding-bottom: 5px;
}